*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(55, 87, 117);
    padding-top: 30px;
}

h1{
    color: white;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 30px;
}
a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;    
}


footer{
    height: 10vh;
    background-color: rgb(55, 87, 117);
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: lighter;   
}
footer p{
    margin-top: 10px;
}

/* cart widget */

#cart{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

#cart span{
    font-size: 40px;
    margin-right: 5px;
}
#cart p{
    font-size: 25px;
}
h2 {
    margin-top: 60px;
    text-align: center;
}
main{
    text-align: center;
    font-size: 20px;
}



/* Item */
.item_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 250px;
    height: 350px;
    border: 0.5px solid rgb(139, 136, 136) ;
    text-align: center;
    margin: 50px 20px;
}
.item_body{
    margin-top: 10px;
}

/* DETAIL */
.detail{
    display: flex;
    justify-content: center;
}

.item_detail{
    display: flex;
    justify-content: center;
    border: 1px solid rgba(185, 185, 185, 0.507);
    width: 600px;
    border: 0.1px solid rgb(170, 169, 169);
    box-shadow: 10px 5px 5px rgb(189, 189, 189);
    margin: 50px 0px;

}
.img_detail--1{
    width: 300px;
    margin-bottom: 20px;
}
.img_detail{
    width: 100px;
    height: 100px;
    border: 0.1px solid rgb(170, 169, 169);    
}
.detail_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px
}

#descripcion{
    text-align: justify;
    margin: 0px 10px ;
}

/*Item Count */

.itemCount {
    display: flex;
    flex-direction: column; 
    margin-top: 30px;
}
#agregar{
    margin-top: 5px;
    height: 60px; 
}
#contador{
    margin-bottom: 0;
    padding: 10px 0;
    width: 170px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
}