*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    display: flex;
    flex-direction: column;
}
header{
    background-color: rgb(55, 87, 117);
    padding-top: 30px;
}

h1{
    color: white;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-bottom: 30px;
}
a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;    
}


footer{
    height: 10vh;
    background-color: rgb(55, 87, 117);
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: lighter;   
}
footer p{
    margin-top: 10px;
}

/* cart widget */

#cart{
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

#cart span{
    font-size: 40px;
    margin-right: 5px;
}
#cart p{
    font-size: 25px;
}
h2 {
    margin-top: 60px;
    text-align: center;
}
main{
    text-align: center;
    font-size: 20px;
}

/* ITEM COUNT contador */

.itemCount {
    margin: 50px 480px ;
    display: flex;
    flex-direction: column;
}
.itemCount p {
   font-size: 30px;
   margin-bottom: 30px;
   text-align: center;
}

#agregar{
    margin-top: 5px;
    height: 60px;
}

#contador{
    margin-bottom: 0;
    padding: 10px 0;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}

/* Item */
.item_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 250px;
    height: 350px;
    border: 0.5px solid rgb(139, 136, 136) ;
    text-align: center;
    margin: 50px 20px;
}
.item_body{
    margin-top: 10px;
}
